<div class="skills-data skill-tree">
    <div class="col-md-12">
        <div class="progress">
            <div class="progress-bar" style="width: 95%;"></div>
            <span class="progress-type">Tableau</span>
            <span class="progress-completed">95%</span>
        </div>

        <div class="progress">
            <div class="progress-bar" style="width: 95%;"></div>
            <span class="progress-type">Tibco Spotfire</span>
            <span class="progress-completed">95%</span>
        </div>

        <div class="progress">
            <div class="progress-bar" style="width: 95%;"></div>
            <span class="progress-type">SAS Enterprise</span>
            <span class="progress-completed">95%</span>
        </div>

        <div class="progress">
            <div class="progress-bar" style="width: 95%;"></div>
            <span class="progress-type">Amazon Web Services</span>
            <span class="progress-completed">95%</span>
        </div>

        <div class="progress">
            <div class="progress-bar" style="width: 95%;"></div>
            <span class="progress-type">JMP</span>
            <span class="progress-completed">95%</span>
        </div>

        <div class="progress">
            <div class="progress-bar" style="width: 95%;"></div>
            <span class="progress-type">D3.js</span>
            <span class="progress-completed">95%</span>
        </div>
    </div>
</div>
<div class="skills-dev skill-tree">
    <div class="col-md-12">
        <div class="progress">
            <div class="progress-bar" style="width: 95%;"></div>
            <span class="progress-type">Python</span>
            <span class="progress-completed">95%</span>
        </div>

        <div class="progress">
            <div class="progress-bar" style="width: 95%;"></div>
            <span class="progress-type">MySQL</span>
            <span class="progress-completed">95%</span>
        </div>

        <div class="progress">
            <div class="progress-bar" style="width: 95%;"></div>
            <span class="progress-type">Java</span>
            <span class="progress-completed">95%</span>
        </div>

        <div class="progress">
            <div class="progress-bar" style="width: 95%;"></div>
            <span class="progress-type">HTML</span>
            <span class="progress-completed">95%</span>
        </div>

        <div class="progress">
            <div class="progress-bar" style="width: 95%;"></div>
            <span class="progress-type">CSS</span>
            <span class="progress-completed">95%</span>
        </div>

        <div class="progress">
            <div class="progress-bar" style="width: 95%;"></div>
            <span class="progress-type">JavaScript</span>
            <span class="progress-completed">95%</span>
        </div>

        <div class="progress">
            <div class="progress-bar" style="width: 95%;"></div>
            <span class="progress-type">VBA</span>
            <span class="progress-completed">95%</span>
        </div>

        <div class="progress">
            <div class="progress-bar" style="width: 95%;"></div>
            <span class="progress-type">R</span>
            <span class="progress-completed">95%</span>
        </div>
    </div>
</div>
<div class="skills-des skill-tree">
    <div class="col-md-12">
        <div class="progress">
            <div class="progress-bar" style="width: 95%;"></div>
            <span class="progress-type">Adobe Photoshop</span>
            <span class="progress-completed">95%</span>
        </div>

        <div class="progress">
            <div class="progress-bar" style="width: 95%;"></div>
            <span class="progress-type">Adobe Illustrator</span>
            <span class="progress-completed">95%</span>
        </div>

        <div class="progress">
            <div class="progress-bar" style="width: 95%;"></div>
            <span class="progress-type">Adobe Indesign</span>
            <span class="progress-completed">95%</span>
        </div>

        <div class="progress">
            <div class="progress-bar" style="width: 95%;"></div>
            <span class="progress-type">Axure RP</span>
            <span class="progress-completed">95%</span>
        </div>
    </div>
</div>
