<div class="skills-data skill-tree">
    <div class="col-md-12">
        <div class="progress">
            <div class="progress-bar" style="width: 95%;"></div>
            <span class="progress-type">Data Viz</span>
            <span class="progress-completed">95%</span>
        </div>

        <div class="progress">
            <div class="progress-bar" style="width: 95%;"></div>
            <span class="progress-type">Data Cleaning</span>
            <span class="progress-completed">95%</span>
        </div>


        <div class="progress">
            <div class="progress-bar" style="width: 95%;"></div>
            <span class="progress-type">Insights Generation</span>
            <span class="progress-completed">95%</span>
        </div>
        
        <div class="progress">
            <div class="progress-bar" style="width: 80%;"></div>
            <span class="progress-type">Text Analytics</span>
            <span class="progress-completed">80%</span>
        </div>

        <div class="progress">
            <div class="progress-bar" style="width: 80%;"></div>
            <span class="progress-type">Machine Learning</span>
            <span class="progress-completed">80%</span>
        </div>
        
        <div class="progress">
            <div class="progress-bar" style="width: 80%;"></div>
            <span class="progress-type">Data Warehousing</span>
            <span class="progress-completed">80%</span>
        </div>
    </div>
</div>
<div class="skills-dev skill-tree" style="display:none;">
    <div class="col-md-12">
        <div class="progress">
            <div class="progress-bar" style="width: 95%;"></div>
            <span class="progress-type">Python</span>
            <span class="progress-completed">95%</span>
        </div>

        <div class="progress">
            <div class="progress-bar" style="width: 95%;"></div>
            <span class="progress-type">SQL</span>
            <span class="progress-completed">95%</span>
        </div>

        <div class="progress">
            <div class="progress-bar" style="width: 95%;"></div>
            <span class="progress-type">HTML/CSS</span>
            <span class="progress-completed">95%</span>
        </div>
        
        <div class="progress">
            <div class="progress-bar" style="width: 95%;"></div>
            <span class="progress-type">JavaScript</span>
            <span class="progress-completed">95%</span>
        </div>

        <div class="progress">
            <div class="progress-bar" style="width: 85%;"></div>
            <span class="progress-type">VBA</span>
            <span class="progress-completed">85%</span>
        </div>
        
        <div class="progress">
            <div class="progress-bar" style="width: 85%;"></div>
            <span class="progress-type">Java</span>
            <span class="progress-completed">85%</span>
        </div>

        <div class="progress">
            <div class="progress-bar" style="width: 70%;"></div>
            <span class="progress-type">R</span>
            <span class="progress-completed">70%</span>
        </div>
    </div>
</div>
<div class="skills-design skill-tree" style="display:none;">
    <div class="col-md-12">
        <div class="progress">
            <div class="progress-bar" style="width: 95%;"></div>
            <span class="progress-type">Adobe Photoshop</span>
            <span class="progress-completed">95%</span>
        </div>

        <div class="progress">
            <div class="progress-bar" style="width: 95%;"></div>
            <span class="progress-type">Adobe Illustrator</span>
            <span class="progress-completed">95%</span>
        </div>

        <div class="progress">
            <div class="progress-bar" style="width: 90%;"></div>
            <span class="progress-type">Adobe Indesign</span>
            <span class="progress-completed">90%</span>
        </div>

        <div class="progress">
            <div class="progress-bar" style="width: 85%;"></div>
            <span class="progress-type">Axure RP</span>
            <span class="progress-completed">85%</span>
        </div>
    </div>
</div>
