<div class="col-sm-4" style="padding:0px;">
    <div class="fixed-condition">
        <a href="/">
            <img class="profile-avatar img-responsive" src="/static/img/avatar.png" />
        </a>

        {% if site.about %}
        <hr style="margin: 10px;background:#fff;">
        <div class="profile-about">
            {{ site.about }}
        </div>
        {% endif %}

        <ul class="sidebar-nav">
            {% for i in site.urls %}
            <li><a class="navi" href="{{ i.url }}">{{ i.text }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
