/*-------- Common Styles ------*/

.row {
    font-family: 'Open Sans', sans-serif;
    margin-right: 0px;
    margin-left: 0px;
}

.container-fluid {
    background-color: #ffffff;
    overflow: hidden;
    padding: 15px;
    padding-top: 25px;
}

body {
    height: 100vh;
    overflow: hidden;
}

h3 {
    font-weight: bold;
    letter-spacing: -2px;
    margin: 0px auto;
}

.btn {
    width: 100%;
}

/*-------- Form Styles ------*/

.form-control {
    text-align: center;
    border: none;
    background-color: transparent;
    font-size: 2em;
    border-radius: 0px;
}

.form-control:hover {
    text-align: center;
    border: none;
    background-color: transparent;
}

.form-control:focus {
    box-shadow: none;
    border-bottom: 2px solid green;
}

/*-------- Toastr Styles ------*/

.toast > div {
    margin-left: 10px !important;
    margin-right: 10px !important;
    width: calc(100% - 20px) !important;
}


#toast-container {
    margin-bottom: 15vh;
}

/*-------- Row Title Styles ------*/

.row-title {
    height: 7vh;
}