/*
Starting
*/

.row {
    font-family: 'Open Sans', sans-serif;
    height: 12.5vh;
    margin-right: 0px;
    margin-left: 0px;
}

.row-amount{
    height: 15vh;
}

.container-fluid {
    height: 100vh;
}


.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    height: 100%;
}

.category {
    display: inline-block;
    height: 100%;
}

.form-control {
    height: 99%;
    text-align: right;
    color: #3b3b3b;
    font-weight: bold;
    border: none;
}

.form-date {
    font-size: 2em;
}

.form-item {
    font-size: 2em;
}

#costIndicator {
    color: #D64545;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 4;
}

.form-cost {
    color: #D64545;
    font-size: 2em;
    font-weight: bold;
}

.card {
    display: inline-block;
    border: 1px solid white;
    width: 150px;
    height: 75px;
    background: black;
}

.date-back,
.date-forward {
    font-size: 1.2em;
    line-height: 5;
}


-webkit-overflow-scrolling: touch;

.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}

.toast > div {
    margin-left: 10px !important;
    margin-right: 10px !important;
    width: calc(100% - 20px) !important;
}

#toast-container {
    margin-bottom: 15vh;
}